FEXT/resources/database/images/*
FEXT/resources/database/validation/*
FEXT/resources/inference/images/*
FEXT/resources/checkpoints/*

setup/environment/*
setup/miniconda/*
setup/variables/.env

__pycache__
*.db
*.log
*.npy
*.egg-info
!.gitkeep
