__pycache__
FEXT/resources/dataset/*
FEXT/resources/validation/*
FEXT/resources/inference/images/*
FEXT/resources/checkpoints/*

setup/environment/*
setup/miniconda/*

*.egg-info
*.log
*.npy
!.gitkeep
